<div class="row">
	<div class="col-md-5">
		<div class="progress">
			<div class="progress-bar progress-bar-success" style="width: {{ quiz.width + '%' }}"></div>
		</div>
	</div>
	<div class="col-md-7 quiz">
		<div ng-repeat="question in questions">
			<div ng-show="showQuestion($index)" class="fadeout" >
				<div class="question"> {{ question.question }}</div>
				<label ng-repeat="choice in question.choices">
					<input type="radio" value="{{ $index }}" ng-model="$parent.userAnswer">
					{{ choice }}
				</label>
				<button ng-hide="firstQuestion($index)" ng-click="previousQuestion()" class="btn btn-default">Back</button>
				<button ng-click="nextQuestion($index, userAnswer)" ng-disabled="!userAnswer" class="btn btn-success">Next</button>
			</div>
		</div>

		<div ng-show="quiz.lastQuestion" ng-model="quiz.score">
			<span class="score">{{ quiz.score }}</span>
			<span class="outta">/ {{ questions.length }}</span>
		</div>
	</div>
</div>