<div data-ng-controller="HeaderController">
    <div id="header">
        <div id="title">
            <a href="/"><i class="glyphicon glyphicon-record"></i>QUIZ-QUIZ</a>
        </div>
        <div id="control-panel">
        	<div class="navi">
        		<a href="#!/quizzes">take</a>
        		<a href="#!/quizzes/create">create</a>
        	</div>
	        <div class="navi navi-sign divider" data-ng-hide="global.isSignedIn()">
	            <a href="signup">signup</a>
	            <a href="signin">signin</a>
	        </div>
	        <ul class="navi divider" data-ng-show="global.isSignedIn()">
	            <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	                    {{ global.currentUser().name }} <b class="caret"></b>
	                </a>
	                <ul class="dropdown-menu">
	                    <li><a href="/signout">signout</a>
	                    </li>
	                </ul>
	            </li>
	        </ul>
   		</div>
    </div>
</div>