<div id="home" data-ng-controller="ListController" data-ng-init="find()">
	<div class="home-box">
		<h1>Take a quiz!</h1>
		<p>
			<a data-ng-repeat="quiz in quizzes" href="#!/quizzes/{{ quiz._id }}" class="quiz-links">{{ quiz.quizTitle }}</a>
		</p>
	</div>
	<div class="home-box">
		<h1>Or <a href="#!/quizzes/create">create</a> a quiz!</h1>
		<p>You don't even need to login to create and share a quiz. It's easy too.</p>
	</div>
	<div class="home-box">
		<p>View the code for this project on <a href="https://github.com/TylerCuster/quiz-quiz">GitHub</a>.</p>
	</div>
</div>