.navbar .nav>li>a.brand {
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

/* app css stylesheet */

body {
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-image: url(../img/pattern4.jpg);
  background-repeat: repeat;
}

label {
  display: block;
  clear: both;
}

a {
  color: red;
}

#header {
  position: relative;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: solid 5px;
  background: white;
  color: black;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#header a {
  color: black;
}

#title {
  margin: 0 0 0 2em;
}

#title a {
  font-size: 40px;
  text-decoration: none;
}

#control-panel {
  position: absolute;
  bottom: 0;
  right: 0;
}

.controls {
  margin: 0.5em 0.5em 0 0;
}

.home-box {
  position: relative;
  left: 5em;
  width: 70%;
  opacity: 0.85;
  border-radius: 0.5em;
  margin: 5em 0 0 0;
  padding: 1em 2em 3em 1em;
  background: white;
  color: black;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.quiz-links {
  display: inline-block;
  font-size: 1.5em;
  margin: 1em 1em 0 0;
}

#container {
  float: left;
  margin: 50px 0 0 0;
}

.progress {
  position: relative;
  float: left;
  width: 20em;
  margin: 0 3em 3em 2em;
}

.quiz {
  float: left;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  max-width: 700px;
  margin: -1em 0 0 0;
} 

.quiz input[type="radio"] {
  margin: 1em 0 1em 4em;
}

.question {
  font-size: 2em;
  margin: 0.5em 3em 1em 1em;
}

.buttons-container {
  margin: 2.5em 1em 2em 1em;
}

#score-container {
  float: left;
  background: white;
  opacity: 0.8;
  border-radius: 0.5em;
  padding: 2em;
}

.score {
  padding: 0.2em;
  font-size: 5em;
  color: black;
  background-color: #74C375;
  border-radius: 5em;
  margin-bottom: 1em;
}

.outta {
  font-size: 5em;
  margin-left: 0.2em;
}

.create-box {
  position: relative;
  left: 20%;
  top: 50px;
  padding: 2em;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  max-width: 700px;
}

.create-title {
  margin: 0 0 1.5em 0;
}

.create-questions {
  margin: 0 0 1em 0;
}

.create-answers {
  margin: 0.75em 0 0.5em 3em;
}

.quiz-input-box {
  width: 50%;
}

.question-input-box {
  width: 85%;
}

.add-question {
}

.answer-input-box {
  width: 50%;
}

.add-answer {
  margin: 0.75em 0 5em 3em;
}

.create-button {
  position: absolute;
  bottom: 2em;
  right: 2em;
}

.fadeout.ng-hide-add,
.fadeout.ng-hide-remove {
  -webkit-transition:0.3s linear all;
  -moz-transition:0.3s linear all;
  -o-transition:0.3s linear all;
  transition:0.3s linear all;
}
.fadeout.ng-hide-remove {
  opacity:0;
}
.fadeout.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.fadeout.ng-hide-add {
  opacity:1;
}
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity:0;
}