.navbar .nav>li>a.brand {
    margin: 0 5em 0.5em 0;
}

body {
  margin: 0 auto;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-image: url(../img/pattern4.jpg);
  background-repeat: repeat;
  margin-bottom: 4em;
}

label {
  display: block;
  clear: both;
}

a {
  color: red;
}

a:hover {
  color: green;
}

div {
  word-wrap: break-word;
}

.glyphicon:hover {
  color: green;
}

#sign-button {
  margin-top: 10px;
}

#sign-box {
  margin-top: 3em;
  width: 30%;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  padding: 1em 0 1em 2em;
}

#header {
  position: relative;
  top: 0;
  width: 100%;
  background: white;
  color: black;
  border-bottom: solid 0.5em;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

#header a {
  color: black;
}

#title {
  position: relative;
  margin: 0 0 0 2em;
}

#title a {
  font-size: 40px;
  text-decoration: none;
}

#control-panel {
  position: absolute;
  bottom: 0;
  right: 0; 
  margin-bottom: 0.5em;
}

#control-panel a {
  margin: 0 1em 0 0;
}

.divider {
  display: inline-block;
  border-left: 2px black solid;
  float: right;
}

.divider li {
  list-style-type: none;
  margin-left: -2em;
}

.divider li ul li {
  list-style-type: none;
  margin-left: 0;
}

.navi {
  display: inline-block;
  float: left;
}

.navi-sign {
  display: inline-block;
  padding-left: 1em;
}

.home-box {
  position: relative;
  left: 3em;
  width: 70%;
  opacity: 0.85;
  border-radius: 0.5em;
  margin: 3em 0 0 0;
  padding: 1em 2em 2em 1em;
  background: white;
  color: black;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
}

.quiz-links {
  display: inline-block;
  font-size: 1.5em;
  margin: 0 1em 0 0;
}

#list-box {
  margin-top: 3em;
  width: 30%;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  padding: 1em 0 1em 2em;
}

#list-box li {
  list-style-type: none;
  margin-left: -2em;
}

#container {
  float: left;
  margin-top: 3em;
}

.progress {
  width: 20em;
  margin: 1em 3em 2em 0;
}

#quiz-details-box {
  float: left;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  width: 22em;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 1.5em 3em 0;
}

#quiz-box {
  float: right;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  max-width: 700px;
  margin: 0 0 0 0;
} 

#quiz-box input[type="radio"] {
  margin: 1em 0 1em 4em;
}

#question {
  font-size: 2em;
  margin: 0.5em 3em 1em 1em;
}

#buttons-container {
  margin: 2.5em 1em 2em 1em;
}

#score-box {
  float: left;
  background: white;
  opacity: 0.8;
  border-radius: 0.5em;
  padding: 2em;
}

#score-container {
  margin: 0 0 2em 0;
}

#score {
  padding: 0.2em;
  font-size: 5em;
  color: black;
  background-color: #74C375;
  border-radius: 5em;
  margin-bottom: 1em;
}

#outta {
  font-size: 5em;
  margin-left: 0.2em;
}

.correctQuestion {
  background-color: #74C375;
}

.wrongQuestion {
  background-color: red;
}

.create-box {
  position: relative;
  left: 10%;
  top: 50px;
  padding: 2em;
  opacity: 0.85;
  background: white;
  border-radius: 0.5em;
  max-width: 700px;
}

.create-title {
  margin: 0 0 1.5em 0;
}

.create-questions {
  margin: 1em 0 1em 0;
}

.create-answers {
  margin: 0.75em 0 0.5em 3em;
}

.quiz-input-box {
  width: 50%;
}

.question-input-box {
  width: 85%;
}

.add-question {
}

.answer-input-box {
  width: 50%;
}

.add-answer {
  margin: 0.75em 0 5em 3em;
}

.create-button {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
}

.fadeoutquiz.ng-hide-add,
.fadeoutquiz.ng-hide-remove {
  -webkit-transition: 0.3s linear all;
  -moz-transition: 0.3s linear all;
  -o-transition: 0.3s linear all;
  transition: 0.3s linear all;
}
.fadeoutquiz.ng-hide-remove {
  opacity:0;
}
.fadeoutquiz.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}
.fadeoutquiz.ng-hide-add {
  opacity:1;
}
.fadeoutquiz.ng-hide-add.ng-hide-add-active {
  opacity:0;
}

@media (min-width: 980px) {
}

@media (max-width: 480px) {

  #sign-box {
    margin-top: 3em;
    width: 90%;
    opacity: 0.85;
    background: white;
    border-radius: 0.5em;
    padding: 1em 0 1em 2em;
    margin-left: 1em;
  }

  #header {
    position: relative;
    top: 0;
    height: 56px;
    width: 100%;
    background: white;
    color: black;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }

  #title {
    position: relative;
  }

  #title a {
    font-size: 1em;
    text-decoration: none;
  } 

  #control-panel {
    position: relative;
    bottom: 0;
    margin: 0.2em 0 0.5em 2em;
  }

  #control-panel a {
    margin: 0 0.5em 0 0;
  }

  .divider {
    border-left: 1px black solid;
  }

  .navi {
    display: inline-block;
  }

  .navi-sign {
    padding-left: 0.5em;
  }

  .home-box {
    position: relative;
    width: 90%;
    left: 0;
    opacity: 0.85;
    border-radius: 0.5em;
    margin: 1em 0 0 1em;
    padding: 0.5em 1em 1em 1em;
    background: white;
    color: black;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  }

  .progress {
    width: 90%;
    margin: 1em 3em 2em 0;
  }

  #container {
    float: left;
    margin-top: 1em;
  }

  #quiz-details-box {
    float: left;
    opacity: 0.85;
    background: white;
    border-radius: 0.5em;
    width: 90%;
    padding: 0 0.5em 0 1em;
    margin: 0 0 1em 0;
  }

  #quiz-box {
    float: left;
    opacity: 0.85;
    background: white;
    border-radius: 0.5em;
  } 

  .question {
    margin: 0.5em 0.5em 0.5em 1em;
  }

  .score {
    padding: 0.2em;
    font-size: 3em;
    color: black;
    background-color: #74C375;
    border-radius: 5em;
    margin-bottom: 1em;
  }

  .outta {
      font-size: 3em;
      margin-left: 0.2em;
  }

  #list-box {
      margin-top: 3em;
      width: 90%;
      opacity: 0.85;
      background: white;
      border-radius: 0.5em;
      padding: 1em 0 1em 2em;
  }

  .create-box {
    position: relative;
    left: 0;
    top: 50px;
    padding: 1em;
    opacity: 0.85;
    background: white;
    border-radius: 0.5em;
    max-width: 700px;
  }

  .create-title {
    margin: 0 0 1.5em 0;
  }

  .create-questions {
    margin: 1em 0 1em 0;
  }

  .create-answers {
    margin: 0.75em 0 0.5em 3em;
  }

  .quiz-input-box {
    width: 70%;
  }

  .question-input-box {
    width: 95%;
  }

  .add-question {
  }

  .answer-input-box {
    width: 80%;
  }

  .add-answer {
    margin: 0.75em 0 5em 3em;
  }

  .create-button {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
  }
}