<div ng-controller="CreateController">
    <div class="create-box">
    	<div class="create-title">
    		<input type="text" ng-model="title" placeholder="Quiz Title">
    	</div>
    	<div ng-repeat="(questionIndex, question) in create.quiz" class="create-questions">
    		<input type="text" placeholder="Question">
    		<i ng-click="deleteQuestion(questionIndex)" class="icon-minus-sign"></i>
    		<i ng-click="addQuestion()" class="icon-plus-sign"></i>
    		<div ng-repeat="(answerIndex, answer) in create.quiz[questionIndex].choices" class="create-answers">
    			<input type="text" placeholder="Answer {{ answer }}">
    			<i ng-click="deleteAnswer(questionIndex, answerIndex)" class="icon-minus-sign"></i>
    			<i ng-click="addAnswer(questionIndex, answerIndex)" class="icon-plus-sign"></i>
    		</div>
    	</div>
    </div>

</div>