<div id="container">
	<div class="progress">
		<div class="progress-bar progress-bar-success" style="width: {{ quiz.width + '%' }}"></div>
	</div>
	<div ng-repeat="(questionIndex, question) in questions" class="quiz">
		<div ng-show="showQuestion(questionIndex)" >
			<div class="question">{{ question.question }}</div>
			<label ng-repeat="(choiceIndex, choice) in question.choices">
				<input type="radio" value="{{ choiceIndex }}" ng-model="$parent.userAnswer">
				{{ choice }}
			</label>
			<div class="buttons-container">
				<button ng-hide="firstQuestion(questionIndex)" ng-click="previousQuestion()" class="btn btn-default">Back</button>
				<button ng-click="nextQuestion(questionIndex, userAnswer)" ng-disabled="!userAnswer" class="btn btn-success">Next</button>
			</div>
		</div>
	</div>
	<div ng-show="quiz.lastQuestion" ng-model="quiz.score" id="score-container">
		<span class="score"><i class="icon-arrow-right"></i> {{ quiz.score }}</span>
		<span class="outta">/ {{ questions.length }}</span>
	</div>
</div>